* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
}

.left {
    float: left;
    width: 15%;
}

img {
    width: 30px;
    height: 30px;
}

.right {
    float: right;
    width: 85%;
}

.rooms {
    background-color: #424242;
    height: 100vh;
    width: 100%;
    color: white;
}

.messages {
    width: 100%;
    height: 80vh;
    overflow: scroll;
}

.main-header {
    color: #FFCC80;
    font-size: 250%;
    text-align: center;
    height: 10vh;
    width: 100%;
    background-color: black;
}

.text-line {
    height: 10vh;
    width: 100%;
    background-color: #DEDEDE;
}

/**
margin: 10px; -> margin: 10px 10px 10px 10px
margin: 10px 5px; -> margin: 10px 5px 10px 5px
*/

.btn {
    margin: 9px 0px;
    float: right;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 26px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    cursor: pointer;
    text-decoration: none;
}
input {
    margin:14px 13px;
    padding: 5px;
    width: 80%;
    border: 2px solid #999;
}

.message {
    padding: 5px 10px;
}

.message span {
    color: #999;
    font-size: 12px;
    margin: 0px 20px;
}

.template {
    display: none;
}